<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893689394956-bba55t4end3jiioio5q8kh5gms1lco1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893689394956-bba55t4end3jiioio5q8kh5gms1lco1d</string>
	<key>API_KEY</key>
	<string>AIzaSyBPfbg9QaD9zs59THC9VwnudlOdRGV33Os</string>
	<key>GCM_SENDER_ID</key>
	<string>893689394956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connorlarkin.jbumapp</string>
	<key>PROJECT_ID</key>
	<string>jbum-ae8ad</string>
	<key>STORAGE_BUCKET</key>
	<string>jbum-ae8ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893689394956:ios:2411c9f5528997c6</string>
	<key>DATABASE_URL</key>
	<string>https://jbum-ae8ad.firebaseio.com</string>
</dict>
</plist>